<ion-header>
  <ion-toolbar color="main">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar color="main">
      <ion-title size="large">Products</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" size-md="6" *ngFor="let product of products">
        <ion-card class="product-card">
          <ion-card-header>
            <ion-item detail="false" lines="none" class="product-item" routerLink="/app/tabs/products/product-details/{{product.id}}">
              <ion-avatar slot="start">
                <img [src]="product.profilePic" [alt]="product.name + ' profile picture'">
              </ion-avatar>
              <ion-label>
                <h2>{{product.name}}</h2>
                <p>{{product.title}}</p>
              </ion-label>
            </ion-item>
          </ion-card-header>

          <ion-card-content>
            <ion-list lines="none">
              <ion-item *ngFor="let session of product.sessions" detail="false" routerLink="/app/tabs/products/session/{{session.id}}">
                <ion-label>
                  <h3>{{session.name}}</h3>
                </ion-label>
              </ion-item>

              <ion-item detail="false" routerLink="/app/tabs/products/product-details/{{product.id}}">
                <ion-label>
                  <h3>About {{product.name}}</h3>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
