<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="5.1.1" targetFramework="net461" />
  <package id="DotNetZip" version="1.13.2" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="NLog" version="4.6.3" targetFramework="net461" />
  <package id="NLog.Config" version="4.6.3" targetFramework="net461" />
  <package id="NLog.Schema" version="4.6.3" targetFramework="net461" />
  <package id="NPOI" version="2.4.1" targetFramework="net461" />
  <package id="Nut" version="2.4.2" targetFramework="net461" />
  <package id="RestSharp" version="106.2.0" targetFramework="net461" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net461" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>