<ion-header>
  <ion-toolbar color="main">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-logo">
    <img src="assets/img/healthy-eating.svg" alt="sample logo">
  </div>

  <form #changePasswordForm="ngForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="main">New Password</ion-label>
        <ion-input [(ngModel)]="changePassword.oldPassword" name="oldPassword" type="password" #oldPassword="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="main">New Password</ion-label>
        <ion-input [(ngModel)]="changePassword.newPassword" name="newPassword" type="password" #newPassword="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="main">Confirm Password</ion-label>
        <ion-input [(ngModel)]="changePassword.confirmPassword" name="confirmPassword" type="password" #confirmPassword="ngModel" required>
        </ion-input>
      </ion-item>

      <!--<ion-text color="danger">
    <p [hidden]="password.valid || newPassword != confirmPassword || submitted == false" class="ion-padding-start">
      Not Valid
    </p>
  </ion-text>-->
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button  (click)="onChangePassword(changePasswordForm)" color="main" type="submit" expand="block">Submit</ion-button>
      </ion-col>
      <!--<ion-col>
        <ion-button color="light" expand="block">Back</ion-button>
      </ion-col>-->
    </ion-row>
  </form>

</ion-content>
